<div class="rockets">
    <div class="rockets-body"></div>
    <div class="rockets-windows">
        <span></span>
        <span></span>
    </div>
    <div class="rockets-bottom">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="fire">
        <span></span>
        <span></span>
        <span></span>
        <div class="glow"></div>
    </div>

    <div class="shadow"></div>
</div>



<!--<div class="buttons">
    <button class="btnStart"><span>开始</span></button>
    <button class="btnLaunch"><span>发射</span></button>
    <button disabled="disabled" class="btnLand disable"><span>着陆</span></button>
</div>-->


<script src="./index.js"></script>

<script>
</script>